@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

/* Forms */
div.form p:not(:has(#id_user_bio))::after {
    content: "\A\A";
    white-space: pre;
}

div.form p span.helptext {
    font-size: 10px;
}

div.form p span.helptext::before {
    content: "\A";
    white-space: pre;
}

.is-centervert {
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
textarea,
select {
    width: 100%;
    border-radius: 20px;
    border: 1.5px solid #6cc4fb;
}
select {
    text-align: center;
}
input {
    padding: 8px;
}
select {
    padding: 8px;
}

label {
    white-space: pre-line;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* Animations */
.animatedHero {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.animatedFeatures {
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* Global */
body {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 10vh;
}

.background-image {
    background-image: url("../images/indexbackground.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.is-mclaren {
    font-family: 'McLaren';
}
.is-montserrat {
    font-family: 'Montserrat'
}
.is-neucha {
    font-family: 'Neucha';
}
.is-dosis {
    font-family: 'Dosis';
}
.is-quattrocento {
    font-family: 'Quattrocento';
}
.is-meera {
    font-family: 'Meera Inimai';
}
.is-titillium {
    font-family: 'Titillium Web';
}