@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

/* Forms */
div.form p:not(:has(#id_user_bio))::after {
    content: "\A\A";
    white-space: pre;
}

div.form p span.helptext {
    font-size: 10px;
}

div.form p span.helptext::before {
    content: "\A";
    white-space: pre;
}

.centervert {
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
textarea,
select {
    width: 100%;
    border-radius: 20px;
    border: 1.5px solid #fbd06c;
}
input {
    padding: 8px;
}

label {
    white-space: pre-line;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* Animations */
.animatedHero {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.animatedFeatures {
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0.99);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.scaleIn {
    animation-name: scaleIn;
}

/* Global */
body {
    /* Make the body take up the full height of the page */
    min-height: 100vh;
    /* Make the body take up the full width of the page */
    min-width: 100vw;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url("../images/indexbackground.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.is-dongle {
    font-family: 'Dongle', sans-serif;
}

.is-dynapuff {
    font-family: 'DynaPuff', cursive;
}

.is-montserrat {
    font-family: 'Montserrat', sans-serif;
}
.is-neucha {
    font-family: 'Neucha', cursive;
}
.is-patrickhand {
    font-family: 'Patrick Hand', cursive;
}
.is-dosis {
    font-family: 'Dosis', sans-serif;
}
.button {
    padding-left: 1.5em;
    padding-right: 1.5em;
}