{% load static %}
<html lang="en">

<head>
    <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/call.css' %}">
    <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <title>Hobnob</title>
</head>

<noscript>Please enable javascript</noscript>

<body>
    <div class="content">
        <div class="columns">
            <div class="column is-four-fifths is-flex" style="padding: 0;">
                <iframe id="daily-co" style="height: 100vh; width: 100%; border: none;"></iframe>
            </div>
            <div class="column sidebar">
                <h1 class="title has-text-centered py-5"
                    style="font-family: 'Sono', sans-serif; color: rgb(255, 255, 255);">Your Partner: {{ partner_user_name }}</h1>
                <div class="content">
                    {% if partner_user_bio %} <p class="has-text-white is-size-4">About Your Partner: <br>{{ partner_user_bio }}</p> {% endif %}
                    <br>
                    <p class="has-text-white is-size-5">To report a user, please email meethobnob@gmail.com with the following information:
                        <br> Your partners username: {{ partner_user_name }}
                        <br> Your username: {{ username }} 
                        <br> The reason you are reporting them
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        callFrame = window.DailyIframe.wrap(document.getElementById('daily-co'), {
            showLeaveButton: true,
            iframeStyle: {
                position: 'fixed',
                top: '0',
                left: '0',
                height: '100%',
            },
        });
        callFrame.join({ url: '{{ url }}', userName: '{{ username }}' });
        callFrame.on('left-meeting', (event) => {
            window.location.replace('/call')
        })
    </script>
</body>

</html>
