{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hobnob</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8907000010862659"
        crossorigin="anonymous"></script>
    <style>
        @media (max-width:1023px) {
            .shrink {
                justify-content: space-between;
            }
        }
    </style>
</head>

<noscript>Please enable javascript</noscript>

<body class="background-image">
    <nav class="navbar py-4 has-background-warning-light">
        <div class="container is-fluid shrink is-flex-touch">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title is-dynapuff">Hobnob<strong>.</strong></h1>
                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="/profile">
                    <img src="{% static 'images/profile.png' %}" alt="Profile Icon">
                </a>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <section class="section">
        <div class="columns">
            <div class="column">
                {% if accepted_rules == "False" %}
                <div class="card has-background-danger-light has-text-centered px-2 py-2" id="call-rules">
                    <h1 class="title has-text-centered py-5 has-text-black has-font-code">Call Rules</h1>
                    <p class="has-text-left">
                        1. No bullying, harassment, or hate speech will be tolerated. Users who engage in such behavior will be
                        banned from the app. <br>
                        2. Users must be at least 13 years old to use the app. Any users found to be younger will be removed
                        from the app.<br>
                        3. Users must follow all applicable laws and regulations while using the app, including those related
                        to privacy, data protection, and online conduct.<br>
                        4. Users will not use the website for illegal or immoral purposes, such as sharing or distributing
                        illegal content.<br>
                        5. Users will not use the website for commercial purposes, such as advertising products or services.<br>
                        6. Users are responsible for their own safety and well-being while using the app. The website is not
                        responsible for any damages or harm caused by the users during the call.
                    </p>
                    <button class="button is-danger is-centered" onclick="agree()">I Agree to The Rules</button>
                </div>
                {% endif %}
            </div>
            <div class="column">
                <form method="post" action="{% url 'add_to_queue' %}" class="form" id="form">
                    {% csrf_token %}
                    <div class="field has-text-centered">
                        <div class="control">
                            <button type="submit" class="button is-info is-rounded is-large is-danger" id="queue" {% if accepted_rules == "False" %} disabled {% endif %}>Add To
                                Queue</button>
                        </div>
                    </div>
                </form>
                <script>
                    function agree() {
                        const button = document.getElementById('queue');
                        button.disabled = false;
                        const xhr = new XMLHttpRequest();
                        xhr.open('POST', "{% url 'accept_rules_session' %}");
                        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                        xhr.send(JSON.stringify({}));
                        xhr.onload = function () {
                            if (xhr.responseText != "Success") {
                                console.log(xhr.responseText);
                            }
                            console.log(xhr.responseText); 
                        }
                        const rules = document.getElementById("call-rules");
                        rules.classList.add("is-hidden");
                    }
                    const form = document.getElementById('form');
                    form.addEventListener('submit', function (event) {
                        event.preventDefault();
                        // Turn the submit button into a loading indicator
                        document.getElementById('queue').classList.add('is-loading');

                        const xhr = new XMLHttpRequest();
                        xhr.open('POST', "{% url 'add_to_queue' %}");
                        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                        xhr.send(JSON.stringify({}));
                        xhr.onload = function () {
                            if (xhr.status === 200) {
                                const response = JSON.parse(xhr.responseText);
                                window.location.replace(response.redirect_url);
                            }
                        };
                    });
                </script>
            </div>
            <div class="column">
                <!--Ads here most likely-->
            </div>
        </div>

    </section>

</body>