{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hobnob</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<nav class="navbar py-4">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="title">Hobnob<strong>.</strong></h1>
            </a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/profile">
                <img src="{% static 'images/profile.png' %}"
                     alt="Profile Icon">
            </a>
        </div>
    </div>
</nav>
<!-- Page Content -->
<section class="section">
    <form method="post" action="{% url 'add_to_queue' %}" class="form">
        {% csrf_token %}
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary is-rounded" id="queue">Add To Queue</button>
            </div>
        </div>
    </form>
</section>

</body>