{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hobnob</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="background-image">
    <nav class="navbar py-4 has-background-warning-light">
        <div class="container is-fluid">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title">Hobnob<strong>.</strong></h1>
                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="/profile">
                    <img src="{% static 'images/profile.png' %}" alt="Profile Icon">
                </a>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <section class="section">
        <p>{{ error }}</p>
        <form method="post" action="{% url 'add_to_queue' %}" class="form" id="form">
            {% csrf_token %}
            <div class="field has-text-centered">
                <div class="control">
                    <button type="submit" class="button is-info is-rounded is-large is-danger" id="queue">Add To Queue</button>
                </div>
            </div>
        </form>


        <script>
            const form = document.getElementById('form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                // Turn the submit button into a loading indicator
                document.getElementById('queue').classList.add('is-loading');

                const xhr = new XMLHttpRequest();
                xhr.open('POST', "{% url 'add_to_queue' %}");
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        window.location.replace(response.redirect_url);
                    }
                };
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
                xhr.send(JSON.stringify({}));
            });

            window.onbeforeunload = function() {
                const xhr = new XMLHttpRequest();
                xhr.open('POST', "{% url 'remove_from_queue' %}");
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
                xhr.send(JSON.stringify({}));
                close();
            }
        </script>
    </section>

</body>