{% load static %}
<html lang="en">

<head>
    <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/call.css' %}">
    <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <title>Hobnob</title>
</head>

<noscript>Please enable javascript</noscript>

<body>
    <div class="content">
        <div class="columns">
            <div class="column is-flex" style="padding: 0;">
                <iframe id="daily-co" style="height: 100vh; width: 100%; border: none;"></iframe>
            </div>
        </div>
    </div>
    <script>
        callFrame = window.DailyIframe.wrap(document.getElementById('daily-co'), {
            showLeaveButton: true,
            iframeStyle: {
                position: 'fixed',
                top: '0',
                left: '0',
                height: '100%',
                width: '100%',
                border: 'none',
            },
            theme: {
                colors: {
                    "accent": "#2600ff",
                    "accentText": "#000000",
                    "background": "#1A1A1A",
                    "backgroundAccent": "#2F2F2F",
                    "baseText": "#F5F5F5",
                    "border": "#444444",
                    "mainAreaBg": "#262626",
                    "mainAreaBgAccent": "#333333",
                    "mainAreaText": "#F5F5F5",
                    "supportiveText": "#B3B3B3"
                }
            }
        });
        callFrame.join({ url: '{{ url }}', userName: '{{ username }}' });
        callFrame.on('loaded', (event) => {
            // Make a request to the server to update the user's status to in a call
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/user_in/');
            xhr.setRequestHeader('Content-Type', 'application/json');
            const url = window.location.href;
            // Get only the room name from the url
            const room_id = '{{ room_id }}';
            console.log(room_id);
            xhr.send(JSON.stringify({ 'room_id': room_id }));
            xhr.onload = () => {
                if (xhr.status != 200) {
                    alert(`Error ${xhr.status}: ${xhr.statusText}`);
                }
                else if (xhr.responseText != 'Success') {
                    alert(`Error: ${xhr.responseText}`);
                }
                else {
                    console.log('User status updated to in a call');
                }
            };

        });
        callFrame.on('left-meeting', (event) => {
            window.location.replace('/call')
        });
    </script>
</body>

</html>