{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hobnob</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://www.jsdelivr.com/package/npm/@creativebulma/bulma-divider">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
</head>

<noscript>Please enable JavaScript</noscript>

<body class="background-image">
  <div>
    <nav class="navbar px-5 py-2 has-background-warning-light has-background-warning-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <h1 class="title is-dynapuff">Hobnob<strong>.</strong></h1>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="expanded">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="expanded" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons is-centered">
              <a class="button is-neucha is-warning" href="/login"><strong>Login</strong></a>
              <a class="button is-neucha is-light" href="/signup">Signup</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <script>
      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });

      });
    </script>
    <section class="section">
      <div class="container">
        <!--Hero-->
        <section class="hero animatedHero fadeIn">
          <div class="hero-body">
            <div class="container has-text-centered has-text-white-dark	">
              <h1 class="title is-size-1 is-neucha">
                Hobnob.
              </h1>
              <br>
              <h2 class="subtitle is-size-1 is-dongle">
                Meet classmates you may not even know you
                have.
              </h2>
            </div>
            <!-- <div class="buttons is-centered">
              <a class="mr-3" href="#">
                <img src="../images/app-page/images/buttons/app-store.svg" alt=""></a>
              <a href="#">
                <img src="../images/app-page/images/buttons/google-play.svg" alt=""></a>
            </div> -->
            <div class="hero-foot">
              <div class="hero-body has-text-centered">
                <a href="/call" class="button is-danger is-large is-responsive is-rounded is-montserrat">Start Calling
                  Now</a>
              </div>
            </div>
          </div>
        </section>
        <div class="box has-background-warning-light animatedFeatures fadeIn">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong style="font-size: larger;">Note From the Developers</strong>
                  <br>
                  Hobnob is currently in public beta and may have bugs. We are working hard to improve the website. If
                  you have any suggestions or bug reports, please
                  contact us at <a href="mailto:meethobnob@gmail.com" class="has-text-danger">meethobnob@gmail.com</a>.
                </p>
              </div>
            </div>
          </article>
        </div>
        <!--Features-->
        <div class="box animatedFeatures fadeIn" style="background-color: rgba(255, 148, 106, 0.592);">
          <div class="columns">
            <div class="column is-half is-hidden-mobile has-text-left">
              <div class="is-size-3 is-dosis has-text-white">High School Hangouts</div>
              <div class="subtitle has-text-white">Connect with new friends from your school through fun conversations!
              </div>
              <div class="is-size-3 is-dosis has-text-white">Crystal Clear Video Calls</div>
              <div class="subtitle has-text-white">Experience high-definition video calls with customizable backgrounds,
                and chat in real-time with your friends.</div>
            </div>
            <div class="column is-half is-hidden-tablet has-text-centered">
              <div class="is-size-3 is-dosis has-text-white">High School Hangouts</div>
              <div class="subtitle has-text-white">Connect with new friends from your school through fun conversations!
              </div>
              <div class="is-size-3 is-dosis has-text-white">Crystal Clear Video Calls</div>
              <div class="subtitle has-text-white">Experience high-definition video calls with customizable backgrounds,
                and chat in real-time with your friends.</div>
            </div>
            <div class="column is-half is-hidden-mobile has-text-right">
              <div class="is-size-3 is-dosis has-text-white">Express with Reactions</div>
              <div class="subtitle has-text-white">Make your calls even more entertaining with built-in reactions and
                emojis to express your emotions.</div>
              <div class="is-size-3 is-dosis has-text-white">Showcase Your Interests</div>
              <div class="subtitle has-text-white">Create custom "About Me" bios that are visible to the people you
                call, and find common interests with your peers during your calls. Let your personality shine!</div>
            </div>
            <div class="column is-half is-hidden-tablet has-text-centered">
              <div class="is-size-3 is-dosis has-text-white">Express with Reactions</div>
              <div class="subtitle has-text-white">Make your calls even more entertaining with built-in reactions and
                emojis to express your emotions.</div>
              <div class="is-size-3 is-dosis has-text-white">Showcase Your Interests</div>
              <div class="subtitle has-text-white">Create custom "About Me" bios that are visible to the people you
                call, and find common interests with your peers during your calls. Let your personality shine!</div>
            </div>
          </div>
        </div>
    </section>
  </div>
</body>

</html>