{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hobnob</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Meet classmates you didn't even know you have.">
  <meta name="author" content="Craze">
  <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
  <style>
    .parent-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media screen and (max-width: 768px) {
      .parent-container {
        flex-direction: column;
      }
    }
  </style>
</head>

<noscript>Please enable JavaScript</noscript>

<body class="parent-container" style="background-color: #121C24; min-height: 100vh;">
  <br>
  <div class="container">
    <section class="section">
      <div class="container is-centered">
        <!--Hero-->
        <section class="hero is-medium py-2 animatedHero fadeIn">
          <div class="hero-body">
            <div class="container">
              <div class="columns level">
                <div class="column is-half">
                  <h1 class="title is-size-1 is-neucha has-text-white">Hobnob</h1>
                  <h2 class="subtitle is-size-3 is-mclaren has-text-white">Meet classmates you didn't even know you
                    have.</h2>
                </div>
                <br class="is-hidden-desktop">
                <div class="has-text-centered">
                  <button class="button is-link is-montserrat is-size-4">Start Calling Now</button>
                  <p class="has-text-centered has-text-white is-size-5"><a href="/login"
                      class="has-text-link">Login</a> or <a href="/signup" class="has-text-link">Sign Up</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="box animatedFeatures fadeIn is-centered"
          style="border: 4px solid #486e9d; margin: auto; background-color: #0e161c">
          <article class="media py-3 px-3">
            <div class="media-content has-text-white">
              <div class="has-text-left">
                <div class="content">
                  <p>
                    <strong style="font-size: larger;" class="has-text-white">Note From the Developers</strong>
                    <br>
                    Hobnob is currently in public beta and may have bugs. We are working hard to improve the website. If
                    you have any suggestions or bug reports, please
                    contact us at <a href="mailto:meethobnob@gmail.com" class="has-text-link">meethobnob@gmail.com</a>.
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <br>
        <!--Features-->
        <style>
          .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }

          .card-container {
            flex: 0 1 calc(25% - 1em);
            padding: 0.5em;
          }

          .card {
            height: 100%;
          }

          @media (max-width: 1220px) {
            .card-container {
              flex: 0 1 calc(50% - 0.5em);
            }
          }

          @media (max-width: 586px) {
            .card-container {
              flex: 0 1 calc(100% - 0.5em);
              margin-bottom: 1em;
            }
          }
        </style>

        <div class="animatedFeatures fadeIn">
          <div class="columns cards has-text-left">
            <div class="column card-container">
              <div class="card" style="background-color: #0e161c">
                <div class="card-content">
                  <div class="is-size-5 is-titillium has-text-white has-text-weight-bold">High School Hangouts</div>
                  <div class="has-text-white is-meera">Connect with new friends from your school through fun
                    conversations!
                  </div>
                </div>
              </div>
            </div>
            <div class="column card-container">
              <div class="card" style="background-color: #0e161c">
                <div class="card-content">
                  <div class="is-size-5 is-titillium has-text-white has-text-weight-bold">Crystal Clear Video Calls
                  </div>
                  <div class="has-text-white is-meera">Experience high-definition video calls with customizable
                    backgrounds,
                    and chat in real-time with your friends.</div>
                </div>
              </div>
            </div>
            <div class="column card-container">
              <div class="card" style="background-color: #0e161c">
                <div class="card-content">
                  <div class="is-size-5 is-titillium has-text-white has-text-weight-bold">Express with Reactions</div>
                  <div class="has-text-white is-meera">Enhance your calling experience with built-in reactions
                    and emojis to
                    express yourself.</div>
                </div>
              </div>
            </div>
            <div class="column card-container">
              <div class="card" style="background-color: #0e161c">
                <div class="card-content">
                  <div class="is-size-5 is-titillium has-text-white has-text-weight-bold">Filter By Interests</div>
                  <div class="has-text-white is-meera">Add optional interests per call to match with other like-minded
                    people.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</body>

</html>