{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hobnob</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div>
    <section class="section">
      <div class="container">
        <!--Hero-->
        <section class="hero">
          <div class="hero-head">
            <nav class="navbar">
              <div class="container is-fluid">
                <div class="navbar-brand">
                  <a class="navbar-item">
                    <h1 class="title">Hobnob<strong>.</strong></h1>
                  </a>
                </div>
                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <a class="button is-primary" href="/login"><strong>Log in</strong></a>
                      <a class="button is-light" href="/signup">Sign up</a>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="hero-body">
            <div class="container has-text-centered">
              <h1 class="title is-size-1">
                Hobnob
              </h1>
              <br>
              <h2 class="subtitle is-size-3">
                Meet classmates you may not even know you
                have.
              </h2>
            </div>
            <!-- <div class="buttons is-centered">
              <a class="mr-3" href="#">
                <img src="../images/app-page/images/buttons/app-store.svg" alt=""></a>
              <a href="#">
                <img src="../images/app-page/images/buttons/google-play.svg" alt=""></a>
            </div> -->
            <div class="hero-foot">
              <div class="hero-body has-text-centered">
                <a href="/call" class="button is-link is-large is-responsive is-rounded">Start Calling Now</a>
              </div>
            </div>
          </div>
        </section>
        <!--Features-->
        <div class="columns is-multiline">
          <div class="column is-12 is-4-desktop">
            <div class="mb-6 is-flex">
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">Inter-School Conversation</h4>
                <p class="subtitle has-text-grey">Have conversations with random people in your school.</p>
              </div>
            </div>
            <div class="mb-6 is-flex">
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">HD Video Calling and Chat</h4>
                <p class="subtitle has-text-grey">Call with high-definition video and customizable backgrounds, with an
                  inbuilt chat.</p>
              </div>
            </div>
          </div>
          <div class="column is-4 is-block-desktop is-hidden-touch">
            <div class="mx-auto mt-0-widescreen is-block"></div>
          </div>
          <div class="column is-12 is-4-desktop">
            <div class="mb-6 is-flex">
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">Use Reactions and Emojis</h4>
                <p class="subtitle has-text-grey">Built in reactions to make your calls more entertaining.</p>
              </div>
            </div>
            <div class="mb-6 is-flex">
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">Create custom bios</h4>
                <p class="subtitle has-text-grey">Add an informational "About Me", visible to the people you call with
                  during the call to find common interests.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="section">
      <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
      <div class="container">
        <div class="is-flex-tablet">
          <p>All rights reserved © Hobnob 2023</p>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>