{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hobnob</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8907000010862659" crossorigin="anonymous"></script>

    <style>
        .captcha {
            width: 200px;
            height: 80px;
        }

        .container {
            width: 25vw;
        }

        @media (max-width:1023px) {
            .container {
                width: 40vw;
            }
        }

        @media (max-width: 768px) {
            .container {
                width: 80vw;
            }
        }

        .is-centervert {
            height: 100vh;
        }
    </style>
</head>

<noscript>Please enable javascript</noscript>

<body style="background-color: #121C24; min-height: 100vh;">
    <div class="is-centervert">
        <section class="section has-text-centered">
            {% block content %}
            <div class="container box has-background-primary-light">
                <h1 class="has-text-left is-dosis is-size-2">Login</h1>
                <br>
                <form method="post" action="/login/">
                    {% csrf_token %}
                    {% if errors %}
                    <p class="has-text-primary">{{ errors }}</p>
                    {% endif %}
                    <div class="field has-text-left">
                        <label class="label">Username:</label>
                        <div class="control">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="field has-text-left">
                        <label class="label">Password:</label>
                        <div class="control">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary is-montserrat"
                                style="padding-left: 5%; padding-right: 5%;">Login</button>
                        </div>
                    </div>
                </form>
            </div>
            <p class="has-text-white has-text-centered is-size-5">
                Don't have an account? <a href="/signup" class="has-text-link">Signup.</a>
            </p>
            <script>
                const form = document.getElementById('form');
                form.addEventListener('submit', function (event) {
                    // Turn the submit button into a loading indicator
                    document.getElementById('submit').classList.add('is-loading');
                });
            </script>
            {% endblock %}
        </section>
    </div>
</body>