{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hobnob</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.ico %}" type="image/x-icon">

    <style>
        @media (max-width:1023px) {
            .shrink {
                justify-content: space-between;
            }
        }

        .centervert {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90.6vh;

            /* Set the height of the body to full viewport height */
        }
    </style>
</head>

<noscript>Please enable javascript</noscript>

<body class="background-image">
    <div class="columns is-multiline"></div>
    <nav class="navbar py-4 has-background-warning-light">
        <div class="container is-fluid is-flex-touch">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title">Hobnob<strong>.</strong></h1>
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-warning" href="/login"><strong>Login</strong></a>
                        <a class="button is-light" href="/signup">Signup</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="centervert">
        <section class="section is-fullheight has-text-centered" style="scale: 1.2;">
            {% block content %}
            <h2 class="title is-2 has-text-weight-bold has-text-black is-family-monospace">Login</h2>
            <form method="post" action="{% url 'login' %}" class="form" id="form">
                {% csrf_token %}
                <div class="field">
                    <p class="subtitle has-text-black" style="padding-bottom: 1px; margin-bottom: 0;">Username:</p>
                    {{ form.username }}
                </div>
                <div class="field">
                    <p class="subtitle has-text-black" style="padding-bottom: 1px; margin-bottom: 0;">Password:</p>
                    {{ form.password }}
                </div>
                <div class="field has-text-centered">
                    <div class="control">
                        <button type="submit" class="button is-success" id="submit">Log In</button>
                    </div>
                </div>
            </form>
            <script>
                const form = document.getElementById('form');
                form.addEventListener('submit', function (event) {
                    // Turn the submit button into a loading indicator
                    document.getElementById('submit').classList.add('is-loading');
                });
            </script>
            {% endblock %}
        </section>
    </div>
</body>