{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hobnob</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <style>
        label {
            white-space: pre-line;
        }

        .container {
            width: 25vw;
        }

        @media (max-width:1023px) {
            .container {
                width: 40vw;
            }
            .shrink {
                justify-content: space-between;
            }
        }


        @media (max-width: 768px) {
            .container {
                width: 80vw;
            }
        }
    </style>

</head>

<noscript>Please enable javascript</noscript>

<body class="background-image">
    <div class="columns is-multiline"></div>
    <nav class="navbar py-4 has-background-warning-light">
        <div class="container is-fluid shrink is-flex-touch">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title is-dynapuff">Hobnob<strong>.</strong></h1>
                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="/call">
                    <img src="{% static 'images/profile.png' %}" alt="Profile Icon">
                </a>
            </div>
        </div>
    </nav>
    <div class="centervert">
        <section class="section has-text-centered">
            {% block content %}
            <div class="container">
                <form method="post" action="/profile" class="box">
                    <h1 class="title has-text-centered">Profile</h1>

                    <div class="field has-text-left">
                        <label class="label">Username:</label>
                        <div class="control">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="field has-text-left">
                        <label class="label">Password:</label>
                        <div class="control">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="field has-text-left">
                        <label class="label">First Name:</label>
                        <div class="control">
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="field has-text-left">
                        <label class="label">Last Name:</label>
                        <div class="control">
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="field has-text-left">
                        <label class="label">Email:</label>
                        <div class="control">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="field has-text-left">
                        <label class="label">Preferred Pronouns:</label>
                        <div class="control has-text-centered">
                            {{ form.pronouns }}
                        </div>
                    </div>
                    <div class="field has-text-left">
                        <label class="label">Preferred Pronouns:</label>
                        <div class="control has-text-centered">
                            {{ form.pronouns }}
                        </div>
                    </div>
                    <div class="field has-text-left">
                        <label class="label">Grade:</label>
                        <div class="control has-text-centered">
                            {{ form.grade }}
                        </div>
                    </div>
                    <div class="field has-text-left">
                        <label class="label">Bio:</label>
                        <div class="control has-text-centered">
                            {{ form.user_bio }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-warning">Save</button>
                        </div>
                    </div>
                    <a href="/logout" class="button is-danger">Logout</a>
                </form>

            </div>
            {% endblock %}
        </section>
    </div>
</body>

</html>