{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hobnob</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
</head>

<noscript>Please enable javascript</noscript>

<body style="background-color: rgb(0, 10, 14);">
    <div class="columns is-multiline"></div>
    <section class="section is-fullheight has-text-centered">
        {% block content %}
        <div class="form">
            <form method="post" action="{% url 'schoolvalidation' %}" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="field has-text-centered">
                    <div class="control">
                        <button type="submit" id="submit" class="button is-light is-link">Signup</button>
                    </div>
                </div>
            </form>
        </div>
        {% endblock %}
</body>