{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hobnob</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
{% block content %}
<h2>Sign Up</h2>
<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Sign Up">
</form>
{% endblock %}